$fs-sm-size: 0.8rem;
$fs-6-size: 1rem;
$fs-5-size: 1.25rem;
$fs-4-size: 1.5rem;
$fs-3-size: 1.75rem;
$fs-2-size: 2rem;
$fs-1-size: 2.5rem;

:root {
  scroll-behavior: unset !important; // override bootstrap setting for instant scroll restoration
}

iframe#hnp-sandbox,
#hnmain {
  display: none;
}

.material-icons {
  $font-size: 24px;

  direction: ltr;
  display: inline-block;
  font: {
    family: "Material Icons";
    size: $font-size;
    style: normal;
    weight: normal;
  }
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  // FIX: vertical alignment with text
  vertical-align: top;

  // FIX: outlined variation width
  max-width: $font-size;
  &.fs-sm {
    max-width: $fs-sm-size;
  }

  &.fs-6 {
    max-width: $fs-6-size;
  }

  &.fs-5 {
    max-width: $fs-5-size;
  }

  &.fs-4 {
    max-width: $fs-4-size;
  }

  &.fs-3 {
    max-width: $fs-3-size;
  }

  &.fs-2 {
    max-width: $fs-2-size;
  }

  &.fs-1 {
    max-width: $fs-1-size;
  }
}

// baseline
p:last-child {
  margin-bottom: 0;
}

textarea {
  max-width: 100%;
  resize: both;
}

// utilities
.fs-sm {
  font-size: $fs-sm-size !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}
