.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroVideo {
  aspect-ratio: 16 / 9;
  width: 800px;
  margin: 4rem auto 0 auto;
}

.heroVideo iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroVideo {
    width: 100%;
  }
}

.storeLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.storeLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
